body {
	background-color: yellow;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: right;
	text-align: right;
	display: inline-block;
}

a {
	display: vertical;
	width: 60px;
}

#theJournalBegins {
	text-align: right;
	margin: center; 
	width: 50%;
}
#twoDaysIn {
	text-align: right;
	width: 50%;
	margin: center;
}

h1{
	margin: center;
	text-align: center;
}


